table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200px; /* Ajuste la hauteur au minimum */
    margin-top: 45px
}


table th {
    width: 150px;
    margin-bottom: 1rem;
}

table td {
    width: 210px; /*Ajuste la même taille du tableau avec celle de l'en-tête  */
}

.table td, .table th {
    width: 200px;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#table thead tr th:first-child {
    width: 99px;
}

#table tbody tr td:first-child {
    width: 101.9px;
}

#table thead tr th:nth-child(2) {
    width: 50px;
}

#table tbody tr td:nth-child(2) {
    width: 110px;
}


#table thead tr th:nth-child(4) {
    width: 650px;
}

#table tbody tr td:nth-child(4) {
    width: 650px;
}


#table thead tr th:nth-child(5) {
    width: 110px;
}

#table tbody tr td:nth-child(5) {
    width: 110px;
}


#table thead tr th:nth-child(6) {
    width: 155px;
}

#table tbody tr td:nth-child(6) {
    width: 155px;
}


#table thead tr th:nth-child(7) {
    width: 90px;
}

#table tbody tr td:nth-child(7) {
    width: 90px;
}


#table thead tr th:nth-child(8) {
    width: 135px;
}

#table tbody tr td:nth-child(8) {
    width: 135px;
}


#table thead tr th:nth-child(9) {
    width: 155px;
}

#table tbody tr td:nth-child(9) {
    width: 155px;
}


#table thead tr th:nth-child(10) {
    width: 120px;
}

#table tbody tr td:nth-child(10) {
    width: 120px;
}




#table thead tr th.icone-loupe {
    position: relative;
    padding-left: 34px; /* Ajustez la valeur selon vos besoins pour déplacer l'icône vers la droite */
}


.modif {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32vh; /* Définit la hauteur minimale du conteneur à 100% de la hauteur de la fenêtre */
    background: (#f5f5f5, #e8e8e8);
}


.formmodif {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: 75px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    /* Centre les éléments horizontalement */
    align-items: flex-start;
    /* Aligne les éléments en haut */
    position: absolute;
    /* Permet d'utiliser les propriétés top, right, etc. */
    top: 0;
    /* Place l'élément en haut */
    right: 0;
    /* Place l'élément à droite */
}


.formmodif fieldset {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 85%;
    max-height: 300px;
    background-color: #f5f5f5;
}


.formmodif .label-container {
    text-align: center;
    display: inline-block;
    width: calc(33% - 10px); /* Chaque label-container occupe un tiers de la largeur moins la marge */
    margin: 0;
    margin-top: -21px;
    vertical-align: top; /* Aligner les div en haut */
    box-sizing: border-box; /* Inclure la marge dans la largeur calculée */
    height: 75px;
}


.formmodif h1 {
    text-align: center;
    color: #333;
}


.formmodif legend {
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.formmodif div {
    margin: 1% 1% 1% 4%;
}

.formmodif label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}


.formmodif input[type="number"] {
    width: 35%;
    /* Ajuster la largeur du champ de type number */
}


.formmodif input[type="text"] {
    width: 80%;
    /* Ajuster la largeur du champ de type number */
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


#select_domaine {
    width: 180px;
    padding: 1%;
    margin-bottom: 10px;
}


#select_etat {
    width: 302px;
    padding: 1%;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.bloc-btn {
    display: block;
    float: right;
}

.formmodif button {
    padding: 12px 20px;
    background: #0055A4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Styles supplémentaires pour un aspect esthétique */
.formmodif {
    font-family: Arial, sans-serif;
    font-size: 16px;
}


.formmodif button {
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.formmodif button:hover {
    background-color: #004281;
}


.div--pagination {
    position: fixed;
    /*Positionné de manière fixe en bas de la page, indépendamment du défilement de l'utilisateur.*/
    bottom: 30px;
    /*Pace l'élément en bas de la page */
    left: 50%;
    transform: translateX(-50%);
    /*Ramène l'élément de 50% de sa propre largeur vers la gauche, le centrant parfaitement.*/
    display: flex;
    /*Active le modèle de boîte flexible.*/
    justify-content: center;
    /*Centre l'élément horizontalement à l'intérieur de son conteneur.*/
    align-items: center;
    /*Centre l'élément verticalement à l'intérieur de son conteneur.*/
    width: 100%;
    /*Fait en sorte que l'élément occupe toute la largeur de son conteneur parent.*/
    background-color: #ffffff;
    /* Couleur d'arrière-plan, à adapter selon vos besoins */
}


/* CSS pour masquer les détails initialement */
tr.demande+tr.details {
    display: none;
}

/* CSS pour afficher les détails quand ils sont visibles */
tr.demande.details-visible+tr.details {
    display: table-row;
}


.error--id {
    display: block;
    background-color: #9ec5fe;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: -3%;
    padding: 1.2% 1.2% 1.2% 1.2%;
    text-align: center;
    width: 65%;
}

/* ## ~~ CSS FOR ELEMENT BOOTSTRAP ## ~~  */

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
    width: 80%;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    background-color: #9ec5fe !important;
    border: 0.2rem solid #77aaf7 !important;
    color: #000000 !important;
    position: relative;
    right: 60px;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.flex-shrink-0 {
    -ms-flex-negative: 0!important;
    flex-shrink: 0!important;
    position: relative;
    right: 160px;
}

svg {
    /* color: #f8d7da; */
    width: 120px;
    height: 90px;
}