table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200px; /* Ajuste la hauteur */
    margin-top: 350px;
}

table th {
    width: 150px; 
}

table td {
    width: 150px; /*Ajuste la même taille du tableau avec celle de l'en-tête  */ 
}

