body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

/*---------------------------
|       BOUTON RETOUR       | 
---------------------------*/

.btnajout {
    align-items: center;
    justify-content: start;
    display: flex;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.btnajout button {
    width: 5rem;
    height: 3rem;
    position: absolute;
    top: 17px;
    left: 19px;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background: #289297;
    color: #fff;
}

.btnajout button:hover {
    background-color: #287074;
    transition: 0.3s ease;
}

.btn-group {
    width: 80%;
    max-width: 35rem;
    margin: 1.5rem auto auto auto;
    display: flex;
    justify-content: center;
    position: relative;
    border: 0.1px solid rgb(219 219 219 / 28%);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
}


.btn-group a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(219 219 219 / 28%);
    border-color: rgb(219 219 219 / 28%);
    color: black;
}

.btn-group a:active,
.btn-group a:hover,
.btn-group a:focus {
    color: white !important;
    background-color: #289297 !important;
    border-color: #289297 !important;
    text-decoration: none;
}

/*---------------------------
|          TAB BAR          | 
---------------------------*/

.container-fluid {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-top: 1rem;
    list-style: none;
    width: 41%;

}

.nav-tabs {
    border-bottom: 3px solid #dee2e6;
}


li>a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}


li a:hover {
    color: #289297;
}

/*---------------------------
|    TITRE DE LA DEMANDE    | 
---------------------------*/

h5 {
    display: flex;
    position: absolute;
    left: 47%;
    top: 73px;
}


/*---------------------------
|      DETAIL DEMANDE       | 
---------------------------*/


#nvldemande {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid;
    background: linear-gradient(#f5f5f5, #e8e8e8);
}


#menuNouvelDmd {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 77%;
    margin-top: 50px;
    margin-bottom: 47px;
    border: 0.1px solid rgb(219 219 219 / 28%);
    border-radius: 4px;
    background: rgb(219 219 219 / 28%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
}

#menuDmd .form-row {
    flex-wrap: nowrap;
}


#form_nvldemande {
    width: 875px;
    height: 915px;
    margin: 8px auto 0;
    padding: 0;
}

.libelleDemande input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 13px;
}

#form_nvldemande input#demLibelle {
    width: 95%;
    padding: 9px;
    font-size: 16px;
    height: 30px;
}

#form_nvldemande legend {
    font-weight: bold;
    margin-bottom: 20px;
    color: #555;
    margin-left: 35.5%;
}
 
#form_nvldemande .form-row {
    display: flex;
    justify-content: space-between;
    margin: 2px auto 0;
}

#form_nvldemande fieldset {
    margin-bottom: -41px;
    height: 115px;
}

#form_nvldemande .form-group {
    width: 48%;
}

.form-group {
    margin-bottom: 0;
}

#form_nvldemande label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
}

#form_nvldemande input[type="infosDate"] {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}


#form_nvldemande select {
    width: 100%;
    padding: 9px;
    font-size: 9px;
}

#form_nvldemande .inputInfos {
    width: 48%;
    height: 30px;
    font-size: 16px;
    padding: 9px;
    margin-bottom: 19px;
}

#form_nvldemande .form-row #selectDom {
    width: 58%;
}


#form_nvldemande .form-row #demRct.infosDate


#form_nvldemande input[type="text"] {
    width: 90%;
    padding: 9px;
    font-size: 16px;
    height: 30px;
}


/* Styles pour le texte de l'Ã©tiquette */
label {
    display: block;
    /* Affiche le texte de l'Ã©tiquette en tant que bloc */
    margin-bottom: 15px;
    /* Ajoute un espace en bas de l'Ã©tiquette */
    font-weight: bold;
    /* Met en Ã©vidence le texte de l'Ã©tiquette */
    margin-top: 8px;
}

#coordo {
    margin-bottom: 100px;
}

#form_nvldemande .form-group2 {
    width: 418px;
    margin-top: 10px;
}


#form_nvldemande .form-row input[type="text"] {
    width: 130px;
    margin-left: 2px;
    padding-left: 8px;
}


#divFs {
    position: relative;
    top: 5px;
}

#divAffect {
    position: relative;
    width: 420px;
    top: 57px;
    right: 0;
}

#divMep {
    position: relative;
    top: 42px;
}


#form_nvldemande .form-row #demRct.infosDate {
    width: 126px;
    margin-top: 30px;
}

#form_nvldemande .form-row .form-group-Amort {
    width: 48%;
    position: relative;
    top: 64px;
}

.form-group input[type="checkbox"] {
    width: 50px;
    /* Modifier la largeur de la case à cocher */
    height: 22px;
    /* Modifier la hauteur de la case à cocher */
    position: relative;
    /* Définit sa postion relative ajusté avec des propriétes comme top, left, right et bottom*/
    left: 175px;
    /* Déplace l'élément de 175 pixels vers la droite par rapport à sa position normale */
    bottom: 29px;
    /* Déplace l'élément de 29 pixels vers le bas par rapport à sa position normale */

}