body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    box-sizing: border-box;
}

/*---------------------------
|          NAVBAR           | 
---------------------------*/

.barre-arianne {
    font-family: Arial, sans-serif; 
    font-size: 16px;
}

/*---------------------------
|       BOUTON RETOUR       | 
---------------------------*/

.btnajout {
    align-items: center;
    justify-content: start;
    display: flex;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.btnajout button {
    width: 170px;
    height: 65px;
    position: absolute;
    top: 52px;
    left: 19px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background: #289297;
    color: #fff;
}

.btnajout button:hover {
    background-color: #287074;
    transition: 0.3s ease;
}


/*---------------------------
|       FILTRE DEMANDE      | 
---------------------------*/

.modif {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32vh; /* Définit la hauteur minimale du conteneur à 100% de la hauteur de la fenêtre */
    background: (#f5f5f5, #e8e8e8);
}


.formmodif {
    width: 1350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 0;
    padding: 0px;
    position: absolute;
    top: 0;
    right: 60px;
    font-family: Arial, sans-serif; 
    font-size: 16px;
}


.formmodif fieldset {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 85%;
    max-height: 300px;
    background-color: #f5f5f5;
    position: absolute;
    left: 212px;
}


.formmodif .label-container {
    text-align: center;
    display: inline-block;
    width: calc(21.7% - 14px); /* Chaque label-container occupe un tiers de la largeur moins la marge */
    margin: 0;
    margin-top: -21px;
    vertical-align: top; /* Aligne² les div en haut */
    box-sizing: border-box; /* Inclure la marge dans la largeur calculée */
    height: 75px;
}

#divLibelle label {
    position: relative;
    right: 30px;
}

#divLibelle{
    position: relative;
    right: 60px;
}


.formmodif h1 {
    text-align: center;
    color: #333;
}


.formmodif legend {
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.formmodif div {
    margin: 1% 1% 1% 8%;
}

.formmodif label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}


.formmodif input[type="number"] {
    width: 20%;
}


.formmodif input[type="text"] {
    width: 212%;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


#select_domaine {
    width: 180px;
    padding: 1%;
    margin-bottom: 10px;
}


#select_etat {
    width: 302px;
    padding: 1%;
    margin-bottom: 10px;
}


.bloc-btn {
    display: block;
    float: right;
}

.formmodif button {
    padding: 12px 20px;
    background: #0055A4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.formmodif button {
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.formmodif button:hover {
    background-color: #004281;
}


/*---------------------------
|         TABLEAU           | 
---------------------------*/


table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200px; /* Ajuste la hauteur au minimum */
    margin-top: 45px
}


table th {
    width: 150px;
    margin-bottom: 1rem;
}

table td {
    width: 210px; /*Ajuste la même taille du tableau avec celle de l'en-tête  */
}

.table td, .table th {
    width: 200px;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#table thead tr th:first-child {
    width: 99px;
}

#table tbody tr td:first-child {
    width: 101.9px;
}

#table thead tr th:nth-child(2) {
    width: 50px;
}

#table tbody tr td:nth-child(2) {
    width: 110px;
}


#table thead tr th:nth-child(4) {
    width: 650px;
}

#table tbody tr td:nth-child(4) {
    width: 650px;
}


#table thead tr th:nth-child(5) {
    width: 110px;
}

#table tbody tr td:nth-child(5) {
    width: 110px;
}


#table thead tr th:nth-child(6) {
    width: 155px;
}

#table tbody tr td:nth-child(6) {
    width: 155px;
}


#table thead tr th:nth-child(7) {
    width: 90px;
}

#table tbody tr td:nth-child(7) {
    width: 90px;
}


#table thead tr th:nth-child(8) {
    width: 135px;
}

#table tbody tr td:nth-child(8) {
    width: 135px;
}


#table thead tr th:nth-child(9) {
    width: 155px;
}

#table tbody tr td:nth-child(9) {
    width: 155px;
}


#table thead tr th:nth-child(10) {
    width: 120px;
}

#table tbody tr td:nth-child(10) {
    width: 120px;
}




#table thead tr th.icone-loupe {
    position: relative;
    padding-left: 34px; /* Déplacer l'icône vers la droite */
}


/*---------------------------
|         PAGINATION        | 
---------------------------*/

.div--pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); /*Ramène l'élément de 50% de sa propre largeur vers la gauche, le centrant parfaitement.*/
    background-color: #ffffff;
}

.page-link:focus {
    color: #fff;
    background-color: #007bff;
}


/* CSS pour masquer les détails initialement */
tr.demande+tr.details {
    display: none;
}

/* CSS pour afficher les détails quand ils sont visibles */
tr.demande.details-visible+tr.details {
    display: table-row;
}


/* ## ~~ CSS FOR ELEMENT BOOTSTRAP ## ~~  */

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
    width: 50%;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    background-color: #d12d2d !important;
    border: 0.1rem solid #000000 !important;
    color: #000000 !important;
    position: relative;
    right: 60px;
}

#libError>p {
    margin: 0;
    padding: 0;
    font-size: larger;
    font-weight: bold;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.flex-shrink-0 {
    -ms-flex-negative: 0!important;
    flex-shrink: 0!important;
    position: relative;
    right: 50px;
}

svg {
    width: 120px;
    height: 90px;
}