body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200px; /* Ajuste la hauteur */
    margin-top: 350px;
}

table th {
    width: 150px; 
}

table td {
    width: 150px; /*Ajuste la même taille du tableau avec celle de l'en-tête  */ 
}



.container {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
    margin: 0 auto;
    margin-top: 82px;
    padding: 20px;
    float: left;
    border: 1px solid #ccc;
}

form {
    display: block;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 300px;
    padding: 1%;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
form {

}

#modif {
    display: block;
    justify-content: flex-start; /* Modifier la position horizontale à gauche */
    align-items: flex-start; /* Modifier la position verticale en haut */
    min-height: 52vh;
    /* Définit la hauteur minimale du conteneur à 100% de la hauteur de la fenêtre */
    background: linear-gradient(#f5f5f5, #e8e8e8);
}

.formmodif {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: 75px;
    margin-bottom: 0;
    height: 150%;
    /* Définit la hauteur du formulaire à 100% du conteneur parent */
    display: flex;
    flex-direction: column;
    /* Aligne les éléments du formulaire en colonne */
    justify-content: center;
    /* Centre les éléments verticalement */
}


.formmodif h1 {
    text-align: center;
    color: #333;
}

.formmodif fieldset {
    width: 600px;
    margin-bottom: 30px;
    /* Augmenter l'espacement entre les champs */
}

.formmodif legend {
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.formmodif div {
    margin-bottom: 10px;
}

.formmodif label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.formmodif input[type="text"],
.formmodif input[type="email"],
.formmodif select {
    width: 50%;
    padding: 12px;
    /* Augmenter la taille du padding */
}

.formmodif input[type="number"] {
    width: 50%;
    /* Ajuster la largeur du champ de type number */
}

.formmodif button {
    padding: 12px 20px;
    background: #0055A4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}