body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


main {
    display: flex;
    width: auto;
    height: auto;
    box-sizing: border-box;
}


#container {
    width: 1200px;
    height: 500px;
    display: grid;
    margin-top: 100px;
    padding: 7%;
    border: 2px solid black;
    border-radius: 8px;
    background: rgb(219 219 219 / 28%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
}


h3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    position: fixed;
    top: 8%;
    left: 43%;
}


.btnretour button {
    width: 5rem;
    height: 3rem;
    position: absolute;
    top: 17px;
    left: 19px;
    padding: 10px 16px;
    background: #289297;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.form-control {
    display: block;
    width: 36%;
    height: calc(1.5em + 0.75rem + 2px); /* Utiliser la largeur à 100% pour s'adapter à la grille */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    width: 75%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


label {
    display: block;
    /* margin-bottom: 15px; */
    font-weight: bold;
    margin-top: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Utilisation de 12 colonnes dans la grille */
    gap: 16px;
}

.inputGroup {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -8px; /* Compenser la marge négative de la grille pour éviter les débordements */
}

.col-md-4,
.col-md-6,
.col-md-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 8px; /* Espacement à droite pour compenser la marge négative */ 
    padding-left: 8px; /* Espacement à gauche pour compenser la marge négative */
}


input[type="date"] {
    appearance: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    width: 140px;
}